<!DOCTYPE html>
<html>
	<head>


		<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">

	  	<!--<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">-->

	  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

		<link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

		<!-- custom css 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">-->

		<span id="Title"><title>InOrOut / TwitPol</title></span>

	</head>

	<header>

		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">InOrOut / TwitPol</a>
	        </div>


        	<div id="navbar" class="collapse navbar-collapse">
		        <ul class="nav navbar-nav navbar-right">

		        	<li class="dropdown">
						<a type="button" id="menu1" data-toggle="dropdown">dropdown<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
	        				<li role="presentation">
	        					<a role="menuitem" href="javascript:void(0)">somelink</a>
	        				</li>
						</ul>
		        	</li>
	        		<li><a href="/deliver/UK">UK Data</a></li>
	        		<li><a href="/deliver/NI">NI Data</a></li>
	        		<li><a href="/deliver/data">procDict</a></li>
	        		<li><a href="/results">Tweets</a></li>
		        </ul>
      		</div>
    	</nav>
	</header>

	<body>
		<!--
		<div class="container-fluid" style="min-height: 90vh; min-width: 90vw; margin-bottom: 100px; padding-top: 50px;">
			<h1>Homepage</h1>
		</div>
	-->

		<div class="container-fluid" id="myContainer" style="padding-top:50px;">

			<div id="mapid" style="height: 600px;"></div>

	    </div>




	    <div class="footer-container container-fluid" style="background-color: #1b1b1b;">
		    <footer class="footer">
		        <div class="container">
		        	<p class="text-muted" style="padding-top: 10px;">Codezoners/cohort-3</p>
		        </div>
		    </footer>
	    </div>



		<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
	  	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	  	<script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
	  	
	  	<script type="text/javascript" src="{{ url_for('static', filename='js/build/react-0.12.2.js') }}"></script>
	  	<script type="text/javascript" src="{{ url_for('static', filename='js/build/JSXTransformer-0.12.2.js') }}"></script>

		<script language="javascript" src="{{ url_for('static', filename='js/p5/p5.min.js') }}"></script>
		<script language="javascript" src="{{ url_for('static', filename='js/p5/p5.dom.js') }}"></script>

		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/leafletScript.js') }}"></script>

	    <script>
		    //custom scripts
			//function goBack() {
	    	//window.history.back();

	    </script>

	</body>
</html>
